# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ids
.idea_modules/

src/main/resources/application-local.properties

# secret
**/application-local.properties
**/application-local.yml
**/*.env
.env

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db